<?xml version="1.0"?>
<model>
  <name>Catamaran</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Pranjal Sinha</name>
    <email>pranjal.sinha024@gmail.com</email>
  </author>

  <description>
    Custom Catamaran Model Available at IITKGP
    Available at the depratment of Ocean Engineering and Naval Architecture, IIT Kharagpur, India. 
    The model is a catamaran with a length of 2.0 meters and a width of 1.0 meters. 
    It is designed for research and educational purposes in marine robotics.

    Properties

    Max speed (unloaded): 2 m/s
      - Set thrust multiplier to 70 in ArduPilotPlugin (+/- 35 N)

    ArduPilot

    Vehicle type:     Rover
    Frame type:       rover-skid

    ArduPilot Parameters

    CRUISE_SPEED      2.0
    CRUISE_THROTTLE   50.0

  </description>
</model>
